In [3]:
import pandas as pd
import numpy as np
ages = [20,22,25,27,29,21,23,31,62,67,45,32]
bins = [18,25,35,60,100]
cats = pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (25, 35], ..., (25, 35], (60, 100], (60, 100], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [4]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     4
(60, 100]    2
(35, 60]     1
dtype: int64

In [5]:
pd.cut(ages,[18,26,35,61,100])

[(18, 26], (18, 26], (18, 26], (26, 35], (26, 35], ..., (26, 35], (61, 100], (61, 100], (35, 61], (26, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 26] < (26, 35] < (35, 61] < (61, 100]]

In [6]:
group_names  = ['youth','youngadult','middleaged','senior']

In [9]:
pd.cut(ages,[18,26,35,61,100], labels=group_names)

[youth, youth, youth, youngadult, youngadult, ..., youngadult, senior, senior, middleaged, youngadult]
Length: 12
Categories (4, object): [youth < youngadult < middleaged < senior]

In [12]:
data = np.random.randn(1000)

In [13]:
data

array([-0.48421629,  0.60940628, -1.20458623,  0.8360335 , -0.77487137,
        0.41898072, -0.12635758,  0.78957545,  1.90778023, -0.11032739,
       -0.38319704,  2.07920846,  0.37855653, -1.00118129, -1.03349726,
        0.79527042, -0.21176993, -0.19620849,  0.59795129,  1.3402992 ,
       -0.9653729 , -1.83026769,  0.61650072, -0.89008422,  0.46882258,
        0.19268906,  1.25430638,  0.38421208,  0.97590157,  0.62414893,
        0.77985407,  0.42295134,  0.73560112, -0.0233259 ,  1.0159327 ,
       -1.02851632, -2.62106854,  0.68067086, -0.69205772,  0.42274131,
       -0.54622946, -0.37701185,  0.53683571, -1.85313238, -0.27679164,
        0.27339926, -1.20148338,  0.27808272,  1.54672924, -0.87708058,
       -1.06623092, -0.9315779 , -0.08548356, -0.11127658, -0.52182349,
        0.55120774, -0.0463282 , -0.0095283 ,  0.09641792,  0.80328285,
       -0.70584901,  0.63406554, -1.00640763,  0.10920757, -1.03703633,
        0.6917221 , -1.21414138,  0.08328308,  0.76297499,  0.59804828,
       -0.77567531, -0.98573531, -3.50977278,  0.29704699, -1.12544957,
        0.01175042, -0.72758769,  0.5312459 ,  0.27459222, -0.86424731,
        0.15209971,  1.28203646, -0.51475125, -0.48265232, -0.38003336,
       -1.79043561, -0.3438651 ,  1.65495098,  1.41349185, -1.26082683,
        0.2882918 ,  1.4132004 , -1.70841479,  0.22240372, -1.27617606,
        0.21738202, -0.10391565,  1.00478669, -0.54730906, -0.40937457,
       -2.23451771, -0.17132111, -0.44194006, -0.24503791,  1.74297642,
        1.43055732,  0.09679075,  0.96617396,  1.2444514 ,  0.3954335 ,
        1.62622767,  0.39133503,  1.50567088,  0.23687136, -0.18426156,
       -0.32187125,  0.58848651,  0.05448229,  0.2676624 , -0.89618654,
        0.61106926,  0.63012955, -0.3840727 ,  0.49787073, -0.11979297,
       -0.43246381,  1.32366277,  0.22126389,  0.05906629, -1.22475109,
       -0.40069693,  0.06466258, -1.17881645,  0.22154436,  0.05984641,
       -0.33116481, -0.27805612, -0.41119613, -0.23015216, -0.01279418,
       -2.04680111, -0.71500876, -1.47049759,  0.50320802,  1.37008979,
       -0.50036808,  0.87488968,  0.40611716, -0.14023405, -0.66072443,
       -0.43868403,  1.04014607,  0.55270773, -0.77076635,  2.3411057 ,
       -1.11950979, -1.3402405 , -0.26689738,  0.0165435 ,  0.56925089,
        0.29231652,  0.72062188,  0.05412398,  2.12323422, -1.0590836 ,
        0.8960803 ,  0.33181234, -0.84073246,  0.11657172,  0.39519272,
        0.10949382, -0.41074904,  0.07951379,  0.43547118, -0.14183451,
       -1.65876969,  0.87219633, -0.39835848,  1.42094625, -0.0919133 ,
        0.2866572 , -0.78537325, -0.71995333, -1.08473111,  1.45999745,
        1.49556907, -0.61876254, -0.52641358, -0.77288533,  1.14881747,
       -0.86972428, -0.32489788,  1.54331073, -0.99399069,  0.22081628,
       -0.72470899,  1.39878456,  0.76886567, -0.6198565 , -0.2514708 ,
       -0.81855161, -0.00641213, -0.29156767,  0.30908146, -2.71451388,
        1.04178915, -1.42683869,  0.03534229,  0.1093952 ,  0.91478319,
        0.27934209,  1.63775997, -0.67028142, -0.63743777, -0.76468527,
       -0.82158828,  0.34202127, -1.32866479,  0.69760009, -0.67239166,
        0.30582238, -1.59629275, -0.21839605, -0.39995581,  0.84266766,
       -0.35205619, -1.04170342,  0.72864342,  0.34157182,  1.33678639,
        1.04407097,  0.78262571, -0.16988696, -0.66455781,  0.06516335,
        0.58983109, -0.45428825,  3.68518627,  0.56143799, -0.52452831,
       -0.48949756, -0.42110269,  2.32334697,  0.3665176 , -0.3679275 ,
       -0.38289716,  0.26994201,  0.56245973,  0.52352803, -1.53405054,
       -0.43886205,  0.7146939 ,  1.02024063,  0.2590518 , -0.06007761,
        1.73695546, -0.37322276, -0.88046066, -0.14384878, -0.69749663,
       -0.91455511,  1.28385784, -0.87780769,  0.17337101,  0.08289962,
       -0.24000569,  1.38342697, -0.09363186,  0.45493303, -0.36203363,
        0.21794901,  1.48511624,  0.96975973,  0.11430662, -1.59987307,
        1.16612561, -0.46349379,  1.3760465 , -0.49859188, -0.29988129,
       -0.87124533, -0.64251832,  0.89480678,  1.04143328, -0.55634862,
        0.2933163 ,  0.11534177, -0.09907383, -1.21466843,  1.49005855,
        1.49410855,  0.49665447,  0.46402969,  0.8011174 ,  1.52706866,
        0.74785906,  0.74360089, -1.05074705, -1.9078364 , -0.70649012,
       -0.69959502,  0.88622713, -0.38639604, -1.12460493, -0.65432973,
        0.47794742, -0.781277  ,  1.82676939, -1.0633367 , -0.59993083,
       -0.11746427,  0.58360094,  0.71273983,  0.24415892, -1.43669589,
       -1.99143392, -1.6545209 ,  0.10424648,  0.12763958, -1.01771947,
       -0.3265175 ,  0.17638369,  0.01642482, -0.89123827, -0.13118907,
        3.06427904,  1.25102594,  0.43182342, -0.27621893,  0.86224932,
        0.03206701,  0.60908082,  0.22343131, -0.48870742, -0.79740337,
       -1.96198536,  1.44822078,  0.38530322,  1.87734941,  0.29165025,
       -1.63169985,  1.34342981, -1.15941384, -0.02215462, -1.66578463,
       -0.02438972,  1.37055798, -1.35357847, -0.70446048,  0.39116601,
       -1.08108195,  0.53159991,  0.15302893,  1.27851457, -0.0858291 ,
        0.11676865, -0.14456843,  0.19179148,  2.04895882, -0.17626266,
       -0.75354101,  1.4060195 ,  0.56092224, -0.64228966,  0.10932293,
        1.38966623, -2.47460011,  0.50123559,  0.15082276, -1.50542898,
        0.24796033,  0.7737785 ,  1.53429185,  0.57160549,  0.14871721,
        0.04242336, -0.18307252,  1.08905286,  0.01785478, -0.87414822,
        0.33844917,  0.29199756,  0.78626858,  0.97240924, -0.4270336 ,
        2.75247012, -1.05167803, -1.05770847,  0.99794104, -1.10472578,
        1.2804457 ,  0.25399125,  2.45582474, -0.66515362,  0.86859584,
        0.22113703, -1.32026376,  1.201971  , -0.33046577,  0.29548702,
        0.10237456,  1.14671165,  0.00582737,  0.60791235,  0.50667704,
       -0.14570469, -0.98868385,  0.51283546,  1.02584568,  2.26661572,
       -0.03308507, -1.17245707, -0.42875882, -0.16724202,  2.02742333,
       -0.40961713,  0.33296431, -0.84577975,  0.82727315,  1.66551525,
        0.10921963, -0.04459514, -1.0066519 , -2.93619874,  0.98611917,
        1.61510855, -0.95761516, -0.11748805, -1.90472967,  0.48456532,
       -3.19500237, -1.61622152,  1.15573649,  0.4728336 ,  2.43665796,
       -0.7952041 , -0.0395521 , -2.34699827,  0.26081696, -0.36785543,
        0.44433498, -1.08431519, -0.6317657 ,  0.42893596, -1.08105774,
        0.91153723,  0.51324647, -1.24399163, -0.62734404,  0.66678132,
        0.0459074 ,  0.91461772,  1.91116504,  1.06909133, -0.26147268,
       -1.75586196,  0.053273  ,  0.45538274, -1.25859616,  1.79062971,
        0.11296454,  0.05403244, -0.19349012,  0.10771724, -0.52045426,
       -2.89636992,  0.67291626, -0.27326692, -0.8553887 ,  0.19261655,
        0.75750519, -0.187889  , -0.02410524,  1.18002118, -1.6058102 ,
       -0.03240114, -0.40942402,  0.97711691,  0.97051071, -0.10915375,
        0.30405567,  0.50958014,  0.12260592, -0.12421762,  1.28246556,
        1.18268644, -1.69497202, -1.68710366,  0.69319198, -1.14823519,
        2.01439143, -0.2983261 ,  1.05298262, -1.92261247, -2.41860892,
        0.18391599, -0.27524231, -1.14291501, -0.62586246, -0.06279189,
        0.46923058, -0.10491904, -0.42072171,  0.11030112, -1.76847017,
       -0.4197147 , -0.80890041, -1.051213  ,  0.96524798,  0.86831629,
        0.34759231, -1.62658366, -1.11833228, -0.29109122, -1.00987104,
       -0.42089378, -1.53375035,  1.02121139,  0.93196996, -1.55681961,
       -0.57078254,  0.69711749,  0.06629973,  1.29534413,  0.89708628,
        0.05944656,  0.53338852,  1.27955534,  0.98403002, -1.23160231,
        0.14464836, -0.35954745,  0.70873372,  0.94441098, -0.55189739,
        0.29773934, -0.33028793, -1.47700377, -0.58530814,  1.56395955,
        0.65822297, -1.72933107,  1.4807481 ,  0.85456968,  1.27251457,
        1.24047003, -0.07512069,  0.24699932,  1.08652229,  2.18131944,
        1.14237994,  0.83510469, -0.53333634, -1.15181847, -0.73183153,
        0.5532227 ,  0.4885418 ,  0.00702342,  0.30321647, -0.93566541,
        1.38890452, -0.11869839,  0.59333102, -0.56934058, -0.99896529,
       -0.10182536, -0.46070153, -0.8646481 , -0.01050328,  0.74419087,
       -0.67185092, -0.22990877,  0.46537134, -0.88291876,  0.36379472,
       -0.24984642, -0.23419201, -1.1782225 , -0.43153913,  1.21276659,
        0.17225084, -1.4270123 ,  0.82951183, -0.35611885,  0.33704255,
        0.73355433,  0.67548089, -1.07909141, -0.55574687, -0.34134391,
        0.01895433,  0.48723156, -1.60717118,  0.66003587, -0.98214543,
       -0.83488461, -0.0426587 , -0.79035225,  1.5404696 , -1.21840463,
        0.15193889,  0.07494141,  2.03264136, -1.92258237, -1.79524016,
        0.41906741, -0.31863628, -0.20006353,  1.95268419,  0.08399569,
        0.86340456, -0.2226115 ,  0.47046436,  1.96967703,  0.14360935,
       -0.70816781, -0.74005679,  0.21200757,  0.26849216,  0.04168719,
        1.55018353, -0.37607103, -0.62191114,  0.90012082, -1.7282511 ,
        0.75464104,  0.66061182, -0.28184871,  0.06458107, -1.40120571,
       -0.52674003, -0.53242642,  2.34718093,  0.60810755, -0.07886883,
        0.09730287,  1.0020467 , -0.20528129, -0.3904008 ,  0.65374463,
        0.6958699 ,  0.3627862 , -0.07647593, -2.260127  ,  0.01485886,
       -0.13168221, -2.44095928,  0.90387749, -0.39087992,  0.36404761,
       -1.34929129,  0.32397097, -1.54289401, -1.00274987,  0.65820212,
        0.34283703,  0.36709502,  0.48014318,  0.6608977 ,  1.16665856,
       -0.03057513,  0.83458682,  0.29823782,  0.51730853,  1.39600586,
        0.07918822, -0.47714732, -0.4612869 ,  0.90413184,  1.01208505,
        0.28580804,  0.27080091,  0.02222965,  0.91732428, -2.34874083,
        1.41154434, -0.89300624,  1.22712784, -1.12031291, -0.34375235,
        0.28231468, -2.61965692,  0.51229983, -0.9642079 ,  1.96108319,
       -1.29166352,  0.62582815,  0.57626691, -1.279291  ,  1.04306264,
       -2.04240817, -0.92302493,  0.20066228,  0.72785958, -0.30654851,
        0.35161172,  1.35424124,  0.51972409, -0.93513623,  0.74994287,
       -0.18785132,  0.18008202, -1.17386864, -0.64069063, -1.1611426 ,
       -1.16683059,  0.06277243,  0.50392673,  1.19288365, -0.92582664,
        0.1346616 , -0.59257815, -1.77518325,  1.52726338, -0.99237571,
        1.17868307,  1.69026553,  1.36630338, -0.11938563,  1.44700744,
        1.72028589,  0.35369357,  2.28668278, -1.90167133, -0.2221313 ,
        0.26938767,  1.65731301,  0.26345223, -0.23126708, -0.0189126 ,
        0.57202503,  0.0178803 , -1.08899517, -0.02634316, -0.9336433 ,
        0.17947356,  0.07111737, -0.18256496, -1.44638366,  0.0730872 ,
        1.72237938, -1.36845961,  0.58405232,  1.84231925,  0.58993993,
        0.00939152,  0.21048756, -0.3580757 , -0.57621041, -0.48273167,
       -0.59244798, -1.96412849,  1.08737777,  0.10600886,  1.01794443,
       -1.11144765,  0.31653356, -1.03720931, -0.05864256, -0.37654067,
        0.58337578,  1.08429062,  1.29935935,  0.62909225, -1.46743258,
       -1.99724562, -0.77603366,  0.89473634,  1.64337811,  0.93155474,
       -1.14605458,  0.41468787, -0.92766787, -0.73693763,  0.62833506,
       -1.0579695 ,  0.9184457 ,  0.34877335,  3.35561851, -0.41267142,
        0.60081201,  0.22521219, -0.30758613,  0.51112762,  0.02045673,
        0.60031271,  2.76489847,  0.7923133 , -0.51306258,  0.5058268 ,
       -0.43289343, -2.14991763,  0.20865472,  0.52827711,  0.58656327,
       -1.0509498 ,  0.80144908, -1.03922587,  0.97007412,  1.41760193,
       -1.06288717, -0.44513893,  1.42920735,  0.38606933,  0.20401287,
       -0.05816663,  0.80084952,  1.42780638,  0.95059333,  1.38286802,
        0.67722425,  1.33700365, -1.219926  , -0.68782795, -1.71173246,
       -0.90630891, -1.4112631 , -1.55983024, -0.60550781, -1.11307479,
       -0.69140067,  1.06203602, -0.51035413,  0.77642322, -0.34178474,
        0.34542391, -0.75171403, -1.66230551, -0.72136774,  0.73874668,
        2.05732948, -1.88407282,  0.70774115, -0.09365016, -1.37827797,
       -0.99382913, -0.20233176, -1.75996561, -1.60110619, -0.98767455,
       -0.79289353, -1.35646852, -0.47220363,  0.09951584, -1.54354467,
        0.39807123,  0.90555378, -1.37234701,  1.43399135, -1.92024864,
       -1.47102986, -0.0493571 , -0.75652963,  0.75969042,  1.74482439,
       -1.30540251,  2.19185483,  2.50878021, -2.63587493, -1.24320668,
        0.33087157,  0.9469195 , -0.82612994, -0.51768356, -0.42793209,
        1.511375  , -1.98467232,  1.76456893,  0.92082986,  0.26713477,
        0.15717915, -0.3610084 ,  0.72981298,  0.28305759,  0.97357684,
       -1.052769  ,  1.13193555,  0.61972483,  0.59827284, -0.73134754,
       -0.59929196,  0.66106821, -0.56969072, -0.87845601, -0.64447647,
       -1.14535566,  1.29307539,  0.4019814 , -0.36741957, -0.47078733,
        0.55346583,  0.55374298, -1.93716825, -0.18645054,  2.27701259,
       -0.52317893, -1.47372226, -0.01909748, -0.25969127,  0.48666029,
       -0.22698729,  0.68254679,  0.27392778, -1.71504121,  1.16414241,
       -0.77277733, -0.65062598,  1.6671876 , -0.49634147,  1.21181408,
       -0.03223046,  0.68386647, -2.24529836, -0.5072586 , -0.40663744,
       -0.09470168,  0.09889134, -0.55840988,  0.01282604,  1.76884824,
       -1.3742121 , -0.96958403,  0.42850248, -0.78140674,  1.01824749,
       -2.39842324,  0.03625449, -0.49552732, -1.02177268,  0.63987682,
        1.29044289,  0.98703863, -1.41118583,  2.6617627 , -0.38340428,
       -0.11818818, -0.01824632,  0.42990315, -0.51084946, -1.06600546,
        0.32021582,  0.65084107,  2.3746271 ,  0.92710161,  1.08619169,
        0.86869545, -0.82627637,  0.57115703,  2.08262433, -0.58650722,
        0.02469513, -0.30390156, -1.06054446, -1.17803428,  0.05094082,
       -0.71772065,  1.35793415,  0.19349087,  0.89231536,  0.21318017,
       -2.13830851, -0.89603272,  0.42414911,  0.18033176,  0.47804723,
        0.32682992, -0.83164339, -1.53991563, -0.13094914, -0.15950109,
        0.89073776,  1.60932084,  1.38156771, -2.32942718,  1.81517972,
       -0.20636862,  0.44606883,  0.79507106, -0.70148295,  0.76578742,
        0.41267996,  0.04047947, -0.75401975, -1.33209963,  0.28538779,
       -0.92891667,  0.25732095,  0.60652854, -0.21718381,  0.90125913,
       -0.79103248, -1.67509791, -0.0688922 ,  0.9226217 ,  0.77162615,
        0.93418283,  0.06684831,  0.3591143 , -0.14935588, -0.65643629])

In [16]:
cats = pd.qcut(data,4)

In [17]:
pd.value_counts(cats)

(0.674, 3.685]                   250
(0.0521, 0.674]                  250
(-0.672, 0.0521]                 250
(-3.5109999999999997, -0.672]    250
dtype: int64

In [18]:
pd.qcut(data,[0,0.1,0.5,0.9,1.])

[(-1.245, 0.0521], (0.0521, 1.296], (-1.245, 0.0521], (0.0521, 1.296], (-1.245, 0.0521], ..., (0.0521, 1.296], (0.0521, 1.296], (0.0521, 1.296], (-1.245, 0.0521], (-1.245, 0.0521]]
Length: 1000
Categories (4, interval[float64]): [(-3.5109999999999997, -1.245] < (-1.245, 0.0521] < (0.0521, 1.296] < (1.296, 3.685]]

In [19]:
data= pd.DataFrame(np.random.randn(1000,4))

In [20]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.045502     0.013404     0.082390    -0.007449
std       0.993663     1.051687     0.997174     0.963294
min      -3.392584    -4.000733    -2.944383    -3.370974
25%      -0.726233    -0.681944    -0.621553    -0.602548
50%      -0.050415     0.034123     0.067424    -0.025248
75%       0.615184     0.727070     0.716879     0.660380
max       3.313291     3.493423     3.493145     2.943340

In [21]:
col = data[2]

In [22]:
col

0      0.074841
1      0.807942
2      1.168949
3     -0.522358
4     -0.241248
         ...
995    1.546514
996   -1.693947
997   -1.221887
998    0.888261
999    1.367845
Name: 2, Length: 1000, dtype: float64

In [23]:
col[np.abs(col)>3]

14     3.379065
109    3.493145
194    3.274404
Name: 2, dtype: float64

In [24]:
data[np.abs(data)>3] =np.sign(data)*3

In [25]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.045746     0.013997     0.081243    -0.007065
std       0.990383     1.045736     0.993576     0.962025
min      -3.000000    -3.000000    -2.944383    -3.000000
25%      -0.726233    -0.681944    -0.621553    -0.602548
50%      -0.050415     0.034123     0.067424    -0.025248
75%       0.615184     0.727070     0.716879     0.660380
max       3.000000     3.000000     3.000000     2.943340

In [26]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0  1.0 -1.0
1  1.0 -1.0  1.0  1.0
2  1.0  1.0  1.0 -1.0
3 -1.0 -1.0 -1.0 -1.0
4  1.0  1.0 -1.0  1.0

In [27]:
df = pd.DataFrame(np.arange(5*4).reshape(5,4))

In [28]:
sampler = np.random.permutation(5)

In [29]:
sampler

array([1, 2, 4, 3, 0])

In [30]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19
3  12  13  14  15
0   0   1   2   3

In [31]:
choices = pd.Series([5,7,-1,6,4])

In [32]:
draws = choices.sample(n=10,replace=True)

In [33]:
draws

2   -1
1    7
3    6
2   -1
1    7
3    6
0    5
1    7
4    4
4    4
dtype: int64

In [34]:
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [35]:
sampler = np.random.permutation(5)

In [36]:
sampler

array([4, 2, 0, 1, 3])

In [37]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],'data1': range(6)})

In [38]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [39]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [40]:
dummies = pd.get_dummies(df['key'],prefix = 'key')

In [41]:
df_with_dummy = df[['data1']].join(dummies)

In [42]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [43]:
val = 'a,b,guido'

In [44]:
val.split(',')

['a', 'b', 'guido']

In [47]:
pieces = [x.strip() for x in val.split(',')]

In [48]:
pieces

['a', 'b', 'guido']

In [49]:
first, second, third = pieces

In [50]:
pieces

['a', 'b', 'guido']

In [53]:
first + '::' + second + '::' + third

'a::b::guido'

In [54]:
'::'.join(pieces)

'a::b::guido'

In [55]:
import re

In [56]:
text = 'foo bar\t baz \t qux'

In [57]:
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [60]:
regex.findall(text)

[' ', '\t ', ' \t ']

In [59]:
regex = re.compile('\s+')